{
  "plugins": ["transform-object-rest-spread"],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 6"],
          "node": 8
        }
      }
    ]
  ]
}
