{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": 8
          }
        }],
        "stage-0"
      ],
      "plugins": ["istanbul"]
    },
    "main": {
      "presets": [
        ["env", {
          "targets": {
            "node": 8
          }
        }],
        "stage-0"
      ]
    },
    "renderer": {
      "presets": [
        ["env"],
        "stage-0"
      ]
    }
  },
  "plugins": ["transform-runtime"]
}
