/* Animation keyframes */
.animate-warn {
  animation-delay: 1s;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: jump;
  transform-origin: 50%;
  will-change: transform;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: jump;
}

.animate-danger {
  animation-delay: 1s;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: shake;
  transform-origin: 50% 0;
  will-change: transform;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: shake;
}

.animate-active {
  animation-delay: 1s;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: active;
  transform-origin: 50% 0;
  will-change: transform;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: active;
}

@keyframes active {
  0%,
  100% {
    transform: rotate(0) scale(1);
    -webkit-transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(0) scale(1.25);
    -webkit-transform: rotate(0) scale(1.25);
  }
}

@keyframes jump {
  0%,
  50%,
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  10%,
  20%,
  30%,
  40% {
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
  }
  15%,
  25%,
  35%,
  45% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  /* Fast Shake */
  1%,
  3%,
  5%,
  7%,
  9% {
    transform: translateX(-2px);
    -webkit-transform: translateX(-2px);
  }
  2%,
  4%,
  6%,
  8%,
  10% {
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
  }
  /* Medium Shake */
  12%,
  16%,
  20%,
  24% {
    transform: translateX(-1px);
    -webkit-transform: translateX(-1px);
  }
  14%,
  18%,
  22%,
  26% {
    transform: translateX(1px);
    -webkit-transform: translateX(1px);
  }
  /* Slow Shake */
  30%,
  38%,
  46% {
    transform: translateX(-0.5px);
    -webkit-transform: translateX(-0.5px);
  }
  34%,
  42%,
  50% {
    transform: translateX(0.5px);
    -webkit-transform: translateX(0.5px);
  }
}

/* Items List Transitions */
.list-in-enter-active,
.list-in-leave-active {
  transition: all 0.25s ease;
}

.list-in-enter,
.list-in-leave-to {
  opacity: 0;
  transform: scale(0.25);
}

/* List out */
.list-out-enter-active,
.list-out-leave-active {
  transition: all 0.25s ease;
}

.list-out-enter,
.list-out-leave-to {
  opacity: 0;
  transform: scale(1.5);
}

/* List out delayed */
.list-out-delayed-enter-active,
.list-out-delayed-leave-active {
  transition: all 0.25s ease 0.1s;
}

.list-out-delayed-enter,
.list-out-delayed-leave-to {
  opacity: 0;
  transform: scale(1.5);
}

/* Route change animations */
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.25s ease-out;
}

.slide-up-enter,
.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

/* Route change animations */
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.25s ease-out;
}

.slide-down-enter,
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

/* Test right */
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.25s ease-out;
}

.slide-right-enter,
.slide-right-leave-to {
  opacity: 0;
  transform: translateX(-10px);
}

/* Test left */
.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.25s ease-out;
}

.slide-left-enter,
.slide-left-leave-to {
  opacity: 0;
  transform: translateX(10px);
}

/* List animation */
.list-complete-item {
  transition: all 0.25s;
}

.list-complete-enter,
.list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.list-complete-leave-active {
  position: absolute;
}

/* Rotation */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotation 0.5s infinite linear;
}
